td{
    /* border: 1px #df0e0e solid; */
    padding: 10px;
}
#tabla2{
    margin-top: 30px;
    border-collapse: collapse;
}

/* h1,h2{
    color: #00f;
} */

#caja1 h1{
    color: #df0e0e;
    cursor: pointer;
}

#caja1 h1:hover{
    color: #770606;
}

#tabla2 tbody>tr:nth-child(odd){
    background-color: rgb(214, 62, 62);
}
#tabla2 tbody>tr:nth-child(even){
    
    background-color: rgb(172, 37, 37);
}
