#caja_resultado{
    border: 1px #ccc solid;
    padding: 20px;
}

#resultado{
    background: #222;
    color: #fff;
    font-size: 2rem;
    padding: 15px;
}

.btn, input{
    border-radius: 0 !important;
}