#img_portada{
    width: 100%;
}

#servicios{
    padding-top: 50px;
}

#portada{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

#portada>div{
    grid-column: 1/2;
    grid-row: 1/2;
}
#texto_portada{
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}